
/* Elementos generales */
html {
	height: 100%;
}

body {
    height: 100%;
	margin: 0px;
    background-color: #FFFFFF;
}

a {
   text-decoration: none;
   color: #3d5678;
}

.container {
	position: relative;
	min-height: 80%;
	width: 100%;
	float: left;

}

/* Elementos en header */
header {
	width: 100%;
	height: 15%;
	background-color: #FF0000;
}

header h1 {
	margin: 0px;
	padding: 0px;
}

/* Elementos en nav */
nav {
	/*min-height: 100%;*/
	width: 20%;
	background-color: #00FF00;
	margin: 0px;
	float: left;
}

nav p {
	text-align: center;
	margin: 0px;
}

nav p:hover {
	background-color: #00AA00;
}


/* Elementos en section */
section {
	width: 80%;
	/*min-height: 100%;*/
	background-color: #0000FF;
	margin: 0px;
	float: left;
}


/* Elementos en footer */
footer {
	width: 100%;
	height: 5%;
	float:left;
	clear: both;
	background-color: #FF00FF;
}

