
/* Elementos generales */
html {
	height: 100%;
}

body {
    height: 100%;
	margin: 0px;
}

a {
   text-decoration: none;
   color: #3d5678;
}

hr {
	margin: 0 1% 0;
	width: 98%;
	border-width: 1px 0 0 0;
}

/* Para igualar el alto de <nav> y <section> */
.equal {
		display:table;
		width: 100%;
		height:82%;
}

.row {
	display:table-row;
}

.cell {
	display:table-cell;
}


/* Elementos en header */
header {
	width: 100%;
	height: 15%;
	background-color: #FF0000;
	background-image:url('../images/fotograma.svg');
	background-repeat: repeat-x;
	background-size: auto 100%;
}

header img{
	height: 100%;
}

header h1 {
	margin: 0px;
	padding: 0px;
}

/* Elementos en nav */
nav {
	padding: 2%;
	width: 20%;
	border-style:solid;
	border-width: 0 1px 0 0;
	border-color: black;
}

nav p {
	text-align: center;
	margin: 0px;
}

nav p:hover {
	background-color: #00AA00;
}

nav ul, nav ul ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* Elementos en section */

section#main {
	width: 80%;
	height: 80%;
	padding: 3%;
	background-color: #dce2f0;
}


/* Elementos en footer */
footer {
	width: 100%;
	height: 3%;
	float:left;
	clear: both;
	text-align: center;
}

.lista-peliculas{
    position: relative;
    text-align: center;
    margin: 20px;
}

.resumen-pelicula{
    position: relative;
    width: 175px;
    height: 260px;
    display: inline-table;
    margin-bottom: 2px;
}

.resumen-pelicula img{
    position: relative;
    width: 100%;
}

.info-pelicula{
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    color: white;
    width: 155px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    top: 0px;
    bottom: 4px;
    display: none;
    font-family: sans-serif;
}

.info-pelicula span{
    display: block;
}

div.pagination{
    display: block;
    vertical-align: middle;
    text-align: center;
    margin: 35px auto;
}

div.pagination a{
    background: white;
    margin: 2px;
    border: 1px solid;
    border-radius: 2px;
    padding: 2px 6px;
}

div.pagination a.page.current, a.page.collapse{
    pointer-events: none;
    opacity: 0.6;
}

.rating{
    position:relative;
    text-align: center;
}

svg{
    -webkit-transform:scale(0.6);
    -moz-transform:scale(0.6);
    -ms-transform:scale(0.6);
    -o-transform:scale(0.6);
}

section#top{
    position: relative;
    float: right;
    width: 80%;
    background: darkgrey;
}

div#buscador{
    float: right;
    margin: 5px;
}

div#buscador form[name='search-series'] input{
    padding: 4px 10px;
    border-top-left-radius: 10px;
    position: relative;
    margin-right: 0px;
    border-bottom-left-radius: 10px;
    border-width: thin;
    outline: none;
}
div#buscador form[name='search-series'] input[type="submit"]{
    background: rgb(68, 155, 248);
    color: white;
    border-radius: 0px 10px 10px 0px;
    position: relative;
    margin-left: -5px;
}

/* animación */
/* Chrome, Safari, Opera */
@-webkit-keyframes formFocus
{
    from {background: lightgray;width: 50px}
    to {background: white;width: 100px}
}

@keyframes formFocus
{
    from {background: lightgray;width: 50px}
    to {background: white;width: 100px}
}

/* animación */
@keyframes formFocusOut
{
    from {background: white;width: 100px}
    to {background: lightgray;width: 50px}
}

div#buscador form[name='search-series'] input[type="text"]{
    background: lightgrey;
    width: 50px;

}

div#buscador form[name='search-series'] input[type="text"]:focus{
    -webkit-animation: formFocus 0.5s forwards;
    animation: formFocus 0.5s forwards;
    /*background: white;width: 100px;*/
}

p.info-resultados{
    margin-left: 20px;
}

#most-seen{
    display: inline-flex;
    /*overflow-x: scroll;*/
    width: calc(100% - 40px);
    margin-top: 10px;
}

#most-seen .resumen-pelicula{
    width: calc(100%/10);
    height: inherit;
    overflow: visible;
}

#most-seen .info-pelicula{
    width: calc(100% - 20px);
    height: calc(100% - 14px);
    font-size: x-small;
    overflow: hidden;
}

#most-seen .rating{
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
}

#most-seen svg{
    -webkit-transform:scale(0.4);
    -moz-transform:scale(0.4);
    -ms-transform:scale(0.4);
    -o-transform:scale(0.4);
    position: absolute;
    bottom: -32px;
    left: -32px;
}

#ficha-pelicula svg{
    -webkit-transform:scale(1.8);
    -moz-transform:scale(1.8);
    -ms-transform:scale(1.8);
    -o-transform:scale(1.8);
}

#ficha-pelicula table > tbody > tr > th{
    background: rgb(255, 245, 169);
    text-align: center;
    font-family: sans-serif;
    padding: 8px 15px;
}

#ficha-pelicula table > tbody > tr > td:first-child,th:first-child{
    text-align: right;
    color: rgb(26, 77, 141);
    background: whitesmoke;
    /* border-radius: 5px; */
    border-right: 3px solid grey;
}


#ficha-pelicula table > tbody > tr > td:last-child,th:last-child{
    text-align: left;
    background: rgb(185, 201, 250);
    max-width: 480px;
}

/*borde redondeado para las tablas*/
 table > tbody > tr:first-child > td:first-child,th:first-child{
    border-top-left-radius: 5px;
}

 table > tbody > tr:first-child > td:last-child,th:last-child{
    border-top-right-radius: 5px;
}

 table > tbody > tr:last-child > td:first-child{
    border-bottom-left-radius: 5px;
}

 table > tbody > tr:last-child > td:last-child{
    border-bottom-right-radius: 5px;
}

 #ficha-pelicula{
     position: relative;
     margin-top: 55px;
 }

#ficha-pelicula table,td,th{
    /*border: 1px solid black;*/
    padding: 5px 10px;
}

#informacion {
    position: relative;
    float: left;
    margin-left: 30px;
    max-width: calc(50% - 30px);
}

#reparto {
    position: relative;
    float: right;
    margin-right: 30px;
    max-width: calc(50% - 30px);
}

#ficha-pelicula .titulo-pelicula{
    font-family: sans-serif;
    font-size: xx-large;
    color: rgb(66, 66, 66);
    font-weight: 600;
    background: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid rgb(16, 91, 160);
    border-right-width: 3px;
    background: -webkit-linear-gradient(left, white, rgba(255,245,169,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, white, rgba(255,245,169,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, white, rgba(255,245,169,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, white, rgba(255,245,169,1)); /* Standard syntax (must be last) */
    padding: 10px 15px;
}

#ficha-pelicula img{
    position: relative;
    border-radius: 10px;
    float: left;
    margin-right: 25px;
    border: 2px solid black;

}

#ficha-pelicula .rating{
    position: relative;
    /*text-align: right;*/
    width: 730px;
    height: 115px;
}

#sinopsis{
    position: relative;
    float: right;
    width: 100%;
}

#sinopsis h3{
    border-bottom: 1px solid black;
}
#ficha-pelicula p,h3{
    font-family: sans-serif;
}
