
/* Elementos generales */
html {
	height: 100%;
}

body {
    height: 100%;
	margin: 0px;
    background-color: #FFFFFF;
}

a {
   text-decoration: none;
   color: #3d5678;
}

#nav_section {
	min-height: 80%;
}

/* Elementos en header */
header {
	width: 100%;
	height: 15%;
	background-color: #FF0000;
}

header h1 {
	margin: 0px;
	padding: 0px;
}

/* Elementos en nav */
nav {
	height: 100%;
	width: 20%;
	background-color: #00FF00;
	display: block;
	margin: 0px;
}

nav p {
	text-align: center;
}

nav p:hover {
	background-color: #00AA00;
}

/*#generos {
	height: 100%;
}*/


/* Elementos en section */
section {
	width: 78%;
	min-height: 100%;
	background-color: #0000FF;
	display: block;
	margin: 0px;
}


/* Elementos en footer */
footer {
	width: 100%;
	height: 5%;
	float:left;
	background-color: #FF00FF;
}

